<div class="panel panel-primary">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body">
        <form [formGroup]="angForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">User first name</label>
                <input type="text" class="form-control" formControlName="user_first_name" #user_first_name/>
            </div>
            <div *ngIf="angForm.controls['user_first_name'].invalid && (angForm.controls['user_first_name'].dirty || angForm.controls['user_first_name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['user_first_name'].errors.required">
                    Name is required.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">User last name</label>
                <input type="text" class="form-control" formControlName="user_last_name" #user_last_name [(ngModel)] = "user.lastName"/>
            </div>
            <div *ngIf="angForm.controls['user_last_name'].invalid && (angForm.controls['user_last_name'].dirty || angForm.controls['user_last_name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['user_last_name'].errors.required">
                    last Name is required.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">email</label>
                <input type="email" class="form-control" formControlName="user_email" #user_email [(ngModel)] = "user.email"/>
            </div>
            <div *ngIf="angForm.controls['user_email'].invalid && (angForm.controls['user_email'].dirty || angForm.controls['user_email'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['user_email'].errors.required">
                    user email is required.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">BD</label>
                <input type="date" class="form-control" formControlName="user_bd" #user_bd [(ngModel)] = "user.bd"/>
            </div>
            <div *ngIf="angForm.controls['user_bd'].invalid && (angForm.controls['user_bd'].dirty || angForm.controls['user_bd'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['user_bd'].errors.required">
                    user bd is required.
                </div>
            </div>
          <div class="form-group">
            <button (click)="updateUser(user_first_name.value, user_last_name.value, user_email.value, user_bd.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add User</button>
          </div>
        </form>
    </div>
</div>