<table class="table table-hover">
  <thead>
  <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td>BD</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.bd }}</td>
          <td><a [routerLink]="['/edit', user._id.$oid]" class="btn btn-primary">Edit</a></td>
          <td><button (click)="deleteUser(user._id.$oid)"  class="btn btn-danger">Delete</button></td>      </tr>
  </tbody>
</table>